<!-- /**
 * Title: app.component.ts
 * Author: Grayton Savickas
 * Date: 11 July 2021
 * Description: App component
 */ -->

<mat-toolbar color='primary'>

  <mat-toolbar-row>
    <button routerLink="/" class="logo">
      <img src="../../assets/gpa-calculator-app.jpg" height="40">
    </button>

    <div style="width: 90%;">
      <div fx-layout="row wrap" fxLayoutAlign="end start">
        <button mat-button routerLink="/">Home</button>
        <button mat-button routerLink="/session/cart">Cart</button>
        <button mat-button (click)="signOut()">Sign Out</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<br>

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card class="main-container">
      <mat-card-title>{{ assignment }}</mat-card-title>
      <br> <br>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</div>
