<!-- /**
 * Title: app.component.ts
 * Author: Grayton Savickas
 * Date: 11 July 2021
 * Description: App component
 */ -->

<!-- This field should allow you to filter or search by name, type -->
 <div fxLayout="row wrap" fxLayoutGap="20px">
  <div class="grade-form" fxFlex>
    <mat-card class="mat-elevation-z8">

      <mat-card-title>Search Repair Services</mat-card-title>
      <mat-card-content>
        <form fxLayout="column" fxLayoutGap="16px" [formGroup]="repairServiceForm" (ngSubmit)="onSubmit($event); repairServiceForm.reset()">
          <mat-form-field fxFlex appearance="fill">
            <mat-label>Repair name</mat-label>
            <input type="text" name="txtRepairTitle" required id="txtRepairTitle" matInput formControlName="title" />
          </mat-form-field>
          <!-- <mat-form-field fxFlex appearance="fill">
            <mat-label>Repair type</mat-label>
            <input type="text" name="txtRepairType" id="txtRepairType" matInput formControlName="type" />
          </mat-form-field> -->
          <button type="submit" [disabled]="!repairServiceForm.valid" mat-raised-button color="primary">Save</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="repairCart" fxFlex>
    <h1>Repair Services</h1>
    <div *ngFor="let entry of repairItems">
    <mat-card class="mat-elevation-z8 ">
      <mat-card-title >{{entry.title}}</mat-card-title>
      <mat-card-content>
        <app-grade-summary [cost]="entry.cost" [description]="entry.description"> </app-grade-summary>
      </mat-card-content>
        <mat-checkbox type="binary" name="txtCart" id="txtCart" color="primary"> Add to Cart</mat-checkbox>
    </mat-card>
    <br><br>
    </div>
  </div>
</div>

<br /><br />

<!-- <div fxLayout="column" fxLayoutGap="20px">
  <div fxFlex class="gpa">
    <button mat-button color="primary" (click)="calculateResults()">Calculate GPA</button>

    <mat-card class="mat-elevation-z8">
      <mat-card-title style="text-align: center;">
        GPA: <app-gpa [gpaTotal]="gpaTotal"></app-gpa>
      </mat-card-title>
    </mat-card>
  </div>
</div> -->
